
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


html{
margin: 0;
padding: 0,
}

body{

width: 100%;
min-height: 100vh;
margin: 0;
padding: 0;
background-color: black;
display: block;

}


header{
 
background-color: #acbac3;
width: 100%;
height: 70px;
margin: 0;
padding: 0;
position: fixed;
  top: 0;
  z-index: 9999;
}

.contenedor{


display: flex;
justify-content: space-between;


}

.divHeader{

width: 500px;
margin-left: 200px;

}

#divOtros{

   
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin-right: 100px;
}

.divInteriorHeader{

display: flex;
cursor: pointer;

}
.ImagenesOtros{

height: 30px;
width: 30px;
margin-top: 17px;
cursor: pointer;
}



.tituloPortfolio{
font-family: Arial, Helvetica, sans-serif;

}

.otros{

font-family: Arial, Helvetica, sans-serif;

}


#SectionTotal{
    height: 2750px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("programacion.webp");

background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
text-align: center;



}

#divNombre{

    margin: 0px auto;
    padding-top: 80px;
  
}

#nombrePrincipal{

color: rgb(243, 243, 243);
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
}



#divInfo{
    margin: 0px auto;
    background-color:rgb(202, 200, 200);
    margin-top: 200px;
    width: 1300px;
    height: 170px;
    border-radius: 30px;

}



#tituloSobreMi{

font-family: Arial, Helvetica, sans-serif;
padding-top: 10px;


}





.parrafo{

    color: black;
    font-family: 'Roboto', sans-serif;
    line-height: 130%;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold   ;
    padding-bottom: 10px;
}



#divConocimientos{
    margin: 0px auto;
    background-color:rgb(202, 200, 200);
    margin-top: 350px;
    width: 1300px;
    height: 200px;
    border-radius: 30px;

}

.imagenesConocimiento{
    
    padding-left: 8px;
    padding-right: 8px;
    height: 135px;
    width: 135px;
    

}

#redondearImagen{

border-radius: 100px;
}

#divProyectosPadre{
display: flex;
width: 100%;


height: 750px;
flex-wrap: wrap;
justify-content: center;
margin: auto;


}


#divProyectosPadre .divProyectosHijos{

width: 420px;
height: 450px;
border-radius: 10px;
background-color: rgb(202, 200, 200);
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

overflow: hidden;
margin: 20px;
margin-top: 300px;
text-align: center;
transition: all 0.25;
}

#divProyectosPadre .divProyectosHijos:hover{
transform: translate(-15px);
box-shadow: 0 12px 16px  rgba(0, 0, 0, 0.2);
  
  }

  #divProyectosPadre .divProyectosHijos img{
       width: 100%;
       height: 220px;
   
    }

    #divProyectosPadre .divProyectosHijos h3{
     font-weight: 600;
     font-family: Arial, Helvetica, sans-serif;
    }  

    #divProyectosPadre .divProyectosHijos p{
      padding: 0 1rem;
      font-size: 15px ;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      
      }

#divCostado1{
cursor: pointer;
}

 
#divCostado2{
cursor: pointer;
}



#divCentro{

    
cursor: pointer;

}





#seccionFinal{

height: 1000px;


text-align: center;


}

#articuloContacto{


    margin: 0px auto;
width: 500px;
height: 600px;
background-color: #616161;
border-radius: 50px;
margin-top: 300px;

}

#tituloContacto{
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
margin-top: 20px;


} 


  .form-group {
    margin-top: 70px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 30px;
  }
  
  label {
    display: block;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
   
  }
  
  
  input {
    width: 400px;
    padding: 5px;
    height: 20px;
   border-radius: 10px;
   
  
  }

  .input{
 font-size: 15px;
color: black;
font-family: Arial, Helvetica, sans-serif;
background-color: white;


  }
  

  textarea{

    width: 400px;
    padding: 5px;
    height: 100px;
    border-radius: 10px;
   
   
   }


  button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
 
  #refMail{
  margin-right: 400px;
  opacity: 0;



  }
  
  
  footer{
height: 120px;
text-align: center;
background-color: #acbac3;


  }
  
  #tituloFooter{
 color: rgb(0, 0, 0);
 font-family: Arial, Helvetica, sans-serif;


  }
  
  .imagenFooter{

  margin-right: 25px;
  margin-left: 25px;
  height: 60px;
  width: 60px;
  }
  
  
  
  
  
  